:root {
  --accent-color: #4d5ae5;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --white-color: #ffffff;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--white-color);
  font-size: 16px;
}

/* Logo */

.logo-header {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.span-header {
  color: var(--accent-color);
}

.logo-footer {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #f4f4fd;
}
.span-footer {
  color: var(--accent-color);
}

/* Menu Nav */

.menu-nav {
  list-style: none;
}
.mail-tel {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  list-style: none;
}

/* Hero Image */

.hero {
  background: #2e2f42;
}

/* Links */

.nav-link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-link {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Order Service Button */

.order-service-text {
  font-weight: 500;
  line-height: 1.5;
  color: var(--white-color);
}

.orderservice:hover,
.orderservice:focus {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.orderservice {
  background: var(--accent-color);
  cursor: pointer;
}

/* Sections */

.hero-title {
  color: var(--white-color);
  
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.section-title2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section Text */

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);}

.team-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  
}
.feature-list {
  margin: 0;

  padding: 0;
}
.feature {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section2 {
  list-style: none;
}
.ourteam {
  background: #f4f4fd;
}
.section3 {
  list-style: none;
}
.footer-background {
  background: #2e2f42;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Portfolio */

.button-all:hover,
.button-all:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.button-all {
  padding: 12px 24px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
}

.button-text:hover,
.button-text:focus {
  color: var(--white-color);
}
.filters {
  list-style: none;
}
.row1 {
  list-style: none;
}
.filters-text:hover {
  color: var(--white-color);
}
